<div id="tasks-form">
    <form role="form" id='addTaskForm'>
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" class="form-control" id="title" placeholder="Titre">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" placeholder="Description">
        </div>
        <button type="submit" class="btn btn-default">Ajouter post</button>
    </form>
    <a href="#">Ma liste de tache</a>
</div>
