<style>
  #tasks-list-todo ul, #tasks-list-current ul, #tasks-list-done ul { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 10px; background: #eee; padding: 5px; width: 143px;}
  #tasks-list-todo ul li, #tasks-list-current ul li, #tasks-list-done ul li { margin: 5px; padding: 5px; font-size: 1.2em; width: 120px; }
  </style>

    <ul id="tasks-list-todo" class="connectedSortable">
    </ul>
    <ul id="tasks-list-current"  class="connectedSortable">
    </ul>
    <ul id="tasks-list-done" class="connectedSortable">
    </ul>

<br style="clear:both">

<a href="#/addTask" >Ajouter task</a>
