<div id="tasks-list-todo"  style="min-height:100px;border:1px solid blue">
    <ul class="connectedSortable">
    </ul>
</div>

<div id="tasks-list-current"  style="min-height:100px;border:1px solid green"> 
    <ul class="connectedSortable">
    <li id="tasks-list-todo" data-id="046d2952-674e-d213-fb00-5592304e076a" class=""><span class="edit">fsdf</span>
<input class="update_title" value="fsdf" style="display:none">
<span>Anonymous</span>
<a class="destroy">Delete</a></li>
    </ul>
</div>

<div id="tasks-list-done" style="min-height:100px;border:1px solid red">
    <ul class="connectedSortable">
    </ul>
</div>


<a href="#/addTask" >Ajouter task</a>
